@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/images/bosque.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
